//reds

//oranges
$rust: #df8b05;
$international-orange: #f27134;
$dark-orange: #e05920;
$hot-pink: #e4008c;

//yellows
$yellow: rgba(253, 185, 36, 0.25);
$esYellow: #f27134;

//greens
$green: #5e924d;
$forest-green: #689247;

//blues
$text-link: #186aa8;
$border-hover-blue: #2793ce;
$light-blue: #50aade;
$blue: #2793ce;
$esBlue: #006aab;

//violets

//greys
$transparent-white: rgba(255, 255, 255, 0.1);
$nav-border: 1px solid #dd6839;
$nav-bar-grey: #404040;
$dark-grey: #666361;
$light-grey: #858281;
$lighter-grey: #b1b3b6;
$paler-grey: #f1f1f1;
$alerts-grey: #e6e6e7;
$es-grey-bg: #ebebeb;
$another-pale-grey: #999999;
$extra-pale-grey-bg: #f7f7f7;
$body-copy: #575757;
$text-grey: #575757;

$line-grey-light: #e6e6e6;
$line-grey-medium: #ababab;
$line-grey-dark: #757575;

//black and white
$blacker: #111111;
$black: #1a1a1a;
$white: #ffffff;
$transparent-black: rgba(0, 0, 0, 0.3);
