$padding: 18px;
$easing: cubic-bezier(.215, .61, .355, 1);

$desktopBreakpoint: 768px;
$containerHeight: 515px;

$logoWidth: 120px;

// font weights
$light: 300;
$book: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// font sizes
$global: 14px; 
$globalLineHeight: 18px;

$header: 32px;
$headerLineHeight: 35px;

$subheader: 22px;
$subheaderLineHeight: 25px;

$button: 16px;
$buttonLineHeight: 19px;
$small: 12px;
$smallLineHeight: 16px;

// colors
$black: #000000;
$white: #ffffff;

$green: #8cc751;
$green-light: #b2d78c;
$teal: #00787a;
$international-orange: #f0703a;
$grey-dark: #7d7d7d;
$grey-light: #bababa;
$grey-bg: #f1f1f1;
