$padding: 18px;
$easing: cubic-bezier(.215, .61, .355, 1);

$desktopBreakpoint: 768px;
$containerHeight: 515px;

// font weights
$light: 300;
$book: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// font sizes
$global: 14px; 
$globalLineHeight: 18px;

$header: 32px;
$headerLineHeight: 35px;

$subheader: 22px;
$subheaderLineHeight: 25px;

$button: 16px;
$buttonLineHeight: 19px;
$small: 12px;
$smallLineHeight: 16px;

// colors
$black: #1a1a1a;
$white: #ffffff;

$grey: #575757;
$blue: #186AA8;
$international-orange: #f27134;
$orange: #e05920;
