// font weights
$light: 300;
$book: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// font sizes
$global: 16px; 
$globalLineHeight: 20px;

// breakpoints
$breakSmartphone: 320px;
$breakTablet: 768px;
$breakDesktop: 1000px;

@import "_colors";
@import "_mixins";
