@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 14, ../sass/global.scss */
html, body {
  height: 100%;
  min-height: 100%;
}

/* line 19, ../sass/global.scss */
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  background-color: #ffffff;
  color: #575757;
  font-size: 14px;
  line-height: 18px;
}
/* line 20, ../sass/global.scss */
body, body *, body *:focus {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  outline: none !important;
}
/* line 35, ../sass/global.scss */
body * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 43, ../sass/global.scss */
body a:active, body a:hover, body .button:active, body .button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 49, ../sass/global.scss */
body #container {
  background-color: #ffffff;
}
/* line 52, ../sass/global.scss */
body #container section {
  padding: 18px;
  padding-bottom: 36px;
}
/* line 56, ../sass/global.scss */
body #container section h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
}
/* line 62, ../sass/global.scss */
body #container section h2 {
  color: #1a1a1a;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
}
/* line 69, ../sass/global.scss */
body #container section p {
  margin-top: 18px;
  margin-bottom: 18px;
}
/* line 74, ../sass/global.scss */
body #container section input,
body #container section .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
  padding: 9px;
  font-size: 16px;
  line-height: normal;
  text-decoration: none;
}
/* line 86, ../sass/global.scss */
body #container section .button {
  text-align: center;
  padding-left: 18px;
  padding-right: 18px;
  color: #ffffff;
  background-color: #f27134;
  cursor: pointer;
}
/* line 96, ../sass/global.scss */
body #container #subscribe {
  background-color: #f27134;
  color: #ffffff;
}
/* line 100, ../sass/global.scss */
body #container #subscribe form {
  width: 100%;
  overflow: hidden;
}
/* line 104, ../sass/global.scss */
body #container #subscribe form input, body #container #subscribe form button {
  display: block;
  float: left;
}
/* line 109, ../sass/global.scss */
body #container #subscribe form .button {
  background-color: #e05920;
}
/* line 113, ../sass/global.scss */
body #container #subscribe form #email {
  margin-right: 13px;
  width: 220px;
}
/* line 119, ../sass/global.scss */
body #container #subscribe #subscribe-success {
  display: none;
  -moz-animation: fade-in 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 124, ../sass/global.scss */
body #container #subscribe #subscribe-success h2 label {
  font-weight: 400;
}
/* line 129, ../sass/global.scss */
body #container #subscribe #subscribe-success p:first-child {
  font-size: 16px;
  line-height: 19px;
  margin-top: 0;
}
/* line 135, ../sass/global.scss */
body #container #subscribe #subscribe-success p:last-child {
  margin-bottom: 0;
}
/* line 141, ../sass/global.scss */
.submitted body #container #subscribe #subscribe-cta {
  display: none;
}
/* line 145, ../sass/global.scss */
.submitted body #container #subscribe #subscribe-success {
  display: block;
}
/* line 151, ../sass/global.scss */
body #container #sayhi {
  padding-top: 31px;
}
/* line 154, ../sass/global.scss */
body #container #sayhi svg {
  width: 50%;
  min-width: 200px;
}
/* line 158, ../sass/global.scss */
body #container #sayhi svg path {
  fill: #f27134;
}
/* line 163, ../sass/global.scss */
body #container #sayhi .desktop {
  display: none !important;
}
/* line 168, ../sass/global.scss */
body #container #sayhi #click-thru a {
  display: block;
}
/* line 173, ../sass/global.scss */
body #container #sayhi footer {
  font-size: 12px;
  line-height: 16px;
}
/* line 177, ../sass/global.scss */
body #container #sayhi footer ul {
  list-style: none;
}
/* line 180, ../sass/global.scss */
body #container #sayhi footer ul li {
  margin-bottom: 4px;
}
/* line 183, ../sass/global.scss */
body #container #sayhi footer ul li:last-child {
  margin-bottom: 0;
}
/* line 187, ../sass/global.scss */
body #container #sayhi footer ul li a {
  color: #186AA8;
  font-weight: 700;
}
@media only screen and (min-width: 769px) {
  /* line 19, ../sass/global.scss */
  body {
    background-color: #575757;
  }
  /* line 199, ../sass/global.scss */
  .loaded body {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  /* line 206, ../sass/global.scss */
  .loaded body.bg-0 {
    background-image: url(../images/bg-0.jpg);
  }
  /* line 206, ../sass/global.scss */
  .loaded body.bg-1 {
    background-image: url(../images/bg-1.jpg);
  }
  /* line 206, ../sass/global.scss */
  .loaded body.bg-2 {
    background-image: url(../images/bg-2.jpg);
  }
  /* line 206, ../sass/global.scss */
  .loaded body.bg-3 {
    background-image: url(../images/bg-3.jpg);
  }
  /* line 206, ../sass/global.scss */
  .loaded body.bg-4 {
    background-image: url(../images/bg-4.jpg);
  }
  /* line 214, ../sass/global.scss */
  body #container {
    width: 535px;
    min-height: 515px;
    max-height: 515px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 223, ../sass/global.scss */
  body #container section {
    padding-left: 36px;
    padding-right: 36px;
  }
  /* line 230, ../sass/global.scss */
  body #container #subscribe form #email {
    width: 300px;
  }
  /* line 236, ../sass/global.scss */
  body #container #subscribe #subscribe-success p:first-child {
    margin-top: 18px;
  }
  /* line 244, ../sass/global.scss */
  body #container #sayhi #click-thru a {
    display: none;
  }
  /* line 247, ../sass/global.scss */
  body #container #sayhi #click-thru a.desktop {
    display: inline-block !important;
  }
  /* line 254, ../sass/global.scss */
  body #container #sayhi footer p {
    margin-bottom: 9px;
  }
  /* line 258, ../sass/global.scss */
  body #container #sayhi footer ul {
    width: 100%;
    overflow: hidden;
  }
  /* line 262, ../sass/global.scss */
  body #container #sayhi footer ul li {
    float: left;
    margin-bottom: 0;
    margin-right: 9px;
  }
  /* line 267, ../sass/global.scss */
  body #container #sayhi footer ul li:last-child {
    margin-right: 0;
  }
}
